.header{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items:last baseline
}

.header p{
    line-height: 0;
    margin: 0;
}

.container{
    display: grid;
    padding: 1px;
    margin-top: 5px;
    grid-template-rows: auto 1fr;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ss-container{
    width: 300px;
    height: 100%;
    margin: auto;
}

.icon-button{
    height: 35px;
    width: 35px;
    margin-top: 6px;
    margin-left: 10px;
    margin-right: 10px;
}

.content-row{
    display: grid;
    grid-template-columns: 2fr 3fr;
    width: 100%;
    height: 100%;
}

.content-description{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.personal{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.personal ul, li{
    list-style-type: circle;
}

.barcode-container{
    width: 300px;
    height: 300px;
    overflow: hidden;
    /* border-radius: 30px; */
}

.barcode-container img{
    width:100%;
    height: 100%;
    border-radius: 30px;
}