.certificates-content{
    position: relative;
    margin-top: 20px;
    z-index: 5;
}

.badges{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.badges img{
    height: 120px;
    width: 120px;
}