.certificates-list{
    display: grid;
    grid-template-columns: auto  auto 1fr;
}

.certificate-drive{
    width: fit-content;
}

.certificate-container{
    background-color: #fffdfa;
    color: black;
    width: 375px;
    height: 300px;
    border: 2px solid #938b7a;
    border-radius: 20px;
    padding: 20px;
    /* justify-items: center; */
    margin: 10px;
    overflow: hidden;
}

.image-container{
    width: 350px;
    height: 200px;
    overflow: hidden;
    border: 2px solid #938b7a;
    margin-bottom: 10px;
    justify-self: center;
}

.image-container img{
    width: 100%;
    height: 100%;
}

.certificate-container h1{
    font-size: 20px;
}

.certificate-container p{
    font-size: 15px;
    margin: 0;
    font-weight: 400;
}

.certificate-container hr{
    color: #938b7a;
    margin-top: 2px;
    margin-bottom: 2px;
    height: 2px;
    width: 100%;
    background-color: #938b7a;
    border: none;
    
}