.dotted-list{
    ul, li{
        list-style-type: none;
    }
    height: fit-content;
}

.inner-content{
    padding: 15px;
    border-left: dotted;
    ul, li{
        list-style-type: square;
    }
    height: fit-content;
}