.navbar{
    position: absolute;
    background-color: black;
    z-index: 100;
    height: 60px;
    width: 99vw;
    top: 0;
    left: 0;
    overflow: hidden;
}

#navbar-list{
    list-style-type: none;
    ul, li{
        padding-left: 20px;
        padding-right: 20px;
        float: right;
    }
}

/* <a> style is at index.css */