.centered{
    margin-top: 70px;
    justify-items: center;
    align-items: center;
    display: block;
}

.contact-row{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    border: 3px solid white;
    p{
        font-weight: 400;
    }
}

.contact-row a{
    animation: pop-out 0.2s linear forwards;
}
.contact-row img{
    animation: pop-out 0.2s linear forwards;
}

.contact-icon{
    width: 50px;
    height: 50px;
    margin: 20px;
}