.framed-text{
    justify-items: center;
}


.name{
    /* padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px; */
    font-size: 90px;
    width: fit-content;
    /* position: relative; */
    animation: flicker 1s linear forwards;
}

@keyframes flicker{
    1%, 11%, 31%, 40%, 50%, 65%, 80%, 100% {
        opacity: 1;
    }
    12%, 20%, 32%, 41%, 52%, 63%, 81%, 95% {
        opacity: 0;
    }
}

.name-box{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 90px;
    width: fit-content;
    position: relative;
}

.name-box::before, .name-box::after{
    content: '';
    position: absolute;
    width: 480px;
    height: 230px;
    border: 3px solid white;
}

.name-box::before{
    bottom: 0;
    left: 0;
    border-top: none;
    border-right: none;
}

.name-box::after{
    top: 0;
    right: 0;
    border-bottom: none;
    border-left: none;
}

.profile-contact-row{
    grid-template-columns: auto auto auto;
    direction: rtl;
}

.profile-contact-icon{
    width: 35px;
    height: 35px;
    margin: 10px;
    animation: fade-in-from-left 1s linear forwards;
}

.intro{
    animation: fade-in-from-right 1s linear forwards;
}

#skills{
    h1{
        font-size: 35px;
    }
    h1, p, li{
        text-align: right;
    }
    ul{
        list-style-type: circle;
    }
    direction: rtl;
    animation: fade-in-from-left 1s linear forwards;
}

.profile-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.skill-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}