.org-data-col{
    padding: 15px;
}

.org-top-part{
    text-align: center;
}

.org-logo{
    margin: auto;
    width: 130px;
    height: 130px;
    border-radius: 20px;
}

.org-roles{
    list-style-type: disc;
}

.jobdesc{
    list-style-type: square;
}

.inner-content{
    text-indent: 15px;
    border-left: dotted;
}