@font-face {
  font-family: Century-Gothic;
  src: url(.\assets\fonts\Century-Gothic.TTF);
}

@font-face {
  font-family: Century-Gothic;
  src: url(.\assets\fonts\Century-Gothic-Bold.TTF);
  font-weight: bold;
}

h1, p, li{
  font-family: Century-Gothic;
}

p, li{
  font-size: 18px;
}