.dark{
    position: relative;
    color: white;
    background-image: linear-gradient(to right, black, #424242);
    width: 100%;
    min-height: 100vh;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 60px;
    overflow-x: hidden;
    box-sizing: border-box;
    hr{
        color: white;
        width: 600px;
        height: 3px;
        background-color: white;
        margin: 0;
    }
    scroll-snap-align: start;
}

.light{
    position: relative;
    background-image: linear-gradient(to right, #FCFBFC, #cacaca);
    color: black;
    width: 100%;
    min-height: 100vh;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 60px;
    overflow-x: hidden;
    box-sizing: border-box;
    hr{
        color: black;
        width: 600px;
        height: 3px;
        background-color: black;
        margin: 0;
    }
    scroll-snap-align: start;
}

@keyframes fade-in-from-left {
    0%{
        opacity: 0;
        transform: translateX(-350px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-in-from-right {
    0%{
        opacity: 0;
        transform: translateX(350px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}