.dark{
    color: white;
    background-image: linear-gradient(to right, black, #424242);
    width: 100%;
    height: 100vh;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 30px;
    box-sizing: border-box;
    hr{
        color: white;
        width: 600px;
        height: 5px;
        background-color: white;
        margin: 0;
    }
    scroll-snap-align: start;
}

.light{
    background-image: linear-gradient(to right, #FCFBFC, #cacaca);
    color: black;
    width: 100%;
    height: 100vh;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 10px;
    box-sizing: border-box;
    hr{
        color: black;
        width: 600px;
        height: 5px;
        background-color: black;
        margin: 0;
    }
    scroll-snap-align: start;
}